<%= form_tag('/search', method: "get", id: "course_search", remote: true) do %>
  <%= label_tag(:subj_id, "Subject:") %>
  <%= select_tag(:subj_id, options_for_select(@subjects)) %>
  <%= label_tag(:course, "Search for:") %>
  <%= text_field_tag(:course) %>
<% end %>

<div id="results">
  <%= render :partial => "results" %>
</div>
