<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div class="container">
  <head>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </head>

  <div class="container">
    <% @courses.each do |course| %>
      <div class="row">
        <div class="col-ww-nn"><%= course.code %></div>
        <div class="col-ww-nn"><%= course.name %></div>
        <div class="col-ww-nn"><%= course.description %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Course', new_course_path %>
